<div class="d-flex align-items-center justify-content-center">
  <h1>Home</h1>
  <% if @user %>
    <%# <div class="mt-4"> %>
    Logged in as : <%= @user.email %>
    <%# </div> %>
  <% end %>
</div>
